@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    overflow: hidden;
}
 
/* Firefox */
.chatbot-container {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }
  
  /* Chrome, Edge, and Safari */
  .chatbot-container::-webkit-scrollbar {
    width: 15px;
  }
  
  .chatbot-container::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
  }
  
  .chatbot-container::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }

  /* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }